@import 'common';

html, body {
    background-color: #F5F5F5;
    -webkit-scrollbar:none;
}
main{
    section{padding: 30px;}
    .intro{
        padding: 0;
        h1{
            font-size: 5rem;
            text-align: center;
            font-family: hoves;
        }
        .mainTitle{
            font-family: Classyvogue;
            border: 3px solid #222;
            border-left: 0;
            border-right: 0;
            overflow: hidden;
            white-space: nowrap;
            p{
                font-size: 5rem;
                animation: textLoop 20s infinite linear;
            }
        }
        .name{
            @include flex-row-btw-ct;
            padding: 30px 50px;
            a{
                font-size: 2rem;
                font-weight: 600;
            }
        }
        .introContents{
            background-color: #222;
            padding: 80px 50px;
            h2{
                color: #fff;
                font-size: 5rem;
                border-bottom: 2px solid #fff;
                margin-bottom: 20px;
            }
            a,p{
                color: #fff;
                font-size: 2rem;
            }
            .contact{
                text-align: right;
                margin-top: 40px;
                a{
                    margin-left: 15px;
                    &:hover{border-bottom: 1px solid #fff;}
                }
            }
        }
    }
    .works{
        padding: 30px;
        padding-bottom: 0;
        h2{
            font-size: 5rem;
            border-bottom: 2px solid #222;
        }
        .workList{
            overflow-x: auto;
            display: flex;
            flex-flow: row nowrap;
            justify-content: left;
            border-bottom: 2px solid #222;
            width: max-content;
            *{font-family: hoves;}
            li{
                padding: 30px 0;
                display: flex;
                justify-content: space-between;
                gap: 30px;
                width: calc(100vw - 70px);
                margin-right: 50px;
                &:last-child{margin-right: 0}
                .worksDescription{
                    @include flex-row-btw-ct;
                    .descriptionLeft{
                        display: flex;
                        flex-flow: column nowrap;
                        justify-content: space-around;
                        height: 100%;
                        .completionDate{
                            font-size: 3rem;
                        }
                        .skillInfo{
                            font-size: 0.938rem;
                            font-weight: lighter;
                            font-weight: 500;
                            em{
                                font-weight: 600;
                                line-height: 2rem;
                            }
                        }
                        .worksTitle{
                            font-size: 4.375rem;
                        }
                    }
                    .descriptionRight{
                        text-align: right;
                        display: flex;
                        flex-flow: column nowrap;
                        justify-content: space-around;
                        height: 100%;
                        .completionYear{font-size: 1.125rem;}
                        .worksLink{
                            font-size: 1.25rem;
                        }
                    }
                }
            }
        }
    }
    .contact{
        padding-top: 0;
        h2{
            font-size: 5rem;
            margin-bottom: 30px;
        }
    }
}