@import 'common';

html, body {background-color: #F5F5F5;}
main{
    section{padding: 30px;}
    .intro{
        padding: 0;
        h1{
            font-size: 5rem;
            text-align: center;
            font-family: hoves;
        }
        .mainTitle{
            font-family: Classyvogue;
            border: 3px solid #222;
            border-left: 0;
            border-right: 0;
            overflow: hidden;
            white-space: nowrap;
            p{
                font-size: 5rem;
                animation: textLoop 20s infinite linear;
            }
        }
        .name{
            @include flex-row-btw-ct;
            padding: 30px 50px;
            a{
                font-size: 2rem;
                font-weight: 600;
            }
        }
        .introContents{
            background-color: #222;
            padding: 50px;
            h2{
                color: #fff;
            }
            p,a{
                color: #fff;
                font-size: 2rem;
            }
            a{display: block;}
        }
    }
    .works{
        padding: 30px;
        h2{
            font-size: 5rem;
            border-bottom: 2px solid #222;
            // font-family: hoves;
        }
        .workList{
            *{font-family: hoves;}
            li{
                border-bottom: 2px solid #222;
                margin-bottom: 50px;
                padding: 30px 0;
                display: flex;
                justify-content: space-between;
                gap: 30px;

                .worksDescription{
                    width: 100%;
                    @include flex-row-btw-ct;
                    .descriptionLeft{
                        display: flex;
                        flex-flow: column nowrap;
                        justify-content: space-around;
                        height: 100%;
                        .completionDate{
                            font-size: 3rem;
                        }
                        .skillInfo{
                            font-size: 0.938rem;
                            font-weight: lighter;
                            font-weight: 500;
                            em{
                                font-weight: 600;
                                line-height: 2rem;
                            }
                        }
                        .worksTitle{
                            font-size: 4.375rem;
                        }
                    }
                    .descriptionRight{
                        text-align: right;
                        display: flex;
                        flex-flow: column nowrap;
                        justify-content: space-around;
                        height: 100%;
                        .completionYear{font-size: 1.125rem;}
                        .worksLink{font-size: 1.25rem;}
                    }
                }
            }
        }
    }
}